<div style="padding:0px 10px 0px 10px">
	<h5 style="color:#26a69a">Formulário de Usuários</h5>
	<div class="row">
		<div class="input-field col s2">
			<input type="text" id="codigo" placeholder="" class="validate" disabled ng-model="$ctrl.usuarioModel.CODIGO"/>
			<label for="codigo">Código:</label>
		</div>
		<div class="input-field col s10">
			<input type="text" id="nome" placeholder="Digite aqui o nome do usuário" class="validate" ng-model="$ctrl.usuarioModel.nome"/>
			<label for="nome">Nome:</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input type="text" id="login" class="validate" ng-model="$ctrl.usuarioModel.login"/>
			<label for="login">Login:</label>
		</div>
		<div class="input-field col s6">
			<input type="password" id="senha" placeholder="Digite aqui a senha" class="validate" ng-model="$ctrl.usuarioModel.senha"/>
			<label for="senha">Senha:</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input type="text" id="cpf" placeholder="Digite aqui o CPF" class="validate" ng-model="$ctrl.usuarioModel.cpf"/>
			<label for="cpf" data-error="O CPF deve conter apenas números">CPF:</label>
		</div>
		<div class="input-field col s6">
			<input type="email" id="email" placeholder="Digite aqui o Email" class="validate"/>
			<label for="email" data-error="O email informado é inválido!">Email:</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
		    <select id="select1" ng-model="$ctrl.usuarioModel.tipoUsuario">
		      <option value="" disabled selected>Escolha o tipo do Usuario</option>
		      <option value="ADMIN">Admin</option>
		      <option value="SUPERVISOR">Supervisor</option>
		      <option value="OPERADOR">Operador</option>
		    </select>
		    <label>Tipo Usuário</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<button class="waves-effect waves-light btn" ng-click="$ctrl.gravar()">
				<i class="material-icons left">done</i>Gravar</button>
			<a href="#!/usuario" class="waves-effect waves-light btn">
				<i class="material-icons left">replay</i>Voltar</a>
		</div>
	</div>
</div>