<h1>Usuários</h1>
<button ng-click="$ctrl.gravar()">Gravar</button>
<div>
	<div style="float:left;padding:20px 20px 0 0">
		<label style="display:block">Código</label>
		<input disabled="disabled" size="5" ng-model="$ctrl.usuarioModel.CODIGO"/>
	</div>
	<div style="padding:20px 0 0 0">
		<label style="display:block">Nome</label>
		<input size="35" ng-model="$ctrl.usuarioModel.nome"/>
	</div>
	<div style="float:left;padding:20px 20px 0 0">
		<label style="display:block">Login</label>
		<input ng-model="$ctrl.usuarioModel.login"/>
	</div>
	<div style="padding:20px 0 0 0">
		<label style="display:block">Senha</label>
		<input type="password" ng-model="$ctrl.usuarioModel.senha"/>
	</div>
	<div style="float:left;padding:20px 20px 0 0">
		<label style="display:block">CPF</label>
		<input ng-model="$ctrl.usuarioModel.cpf"/>
	</div>
</div>