
<input ng-model="$ctrl.tx_teste">
<button ng-click="$ctrl.novo()">Novo</button>
<br><p>{{$ctrl.tx_teste}}</p>
<table>
	<thead>
		<th align="left">Codigo</th>
		<th align="left">Nome</th>
		<th align="left">Login</th>
		<th>Ações</th>
	</thead>
	<tbody>
		<tr ng-repeat="usuario in $ctrl.dados">
			<td>{{usuario.CODIGO}}</td>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.login}}</td>
			<td>
				<button ng-click="$ctrl.editar(usuario.CODIGO)">Editar</a>
				<button ng-click="$ctrl.excluir(usuario.CODIGO)">Excluir</button>
			</td>
		</tr>
	</tbody>
</table>